<header>
  <table>
    <tr>
      <th><p class="links"> <%= link_to t('.back_home'), root_path %> </p></th>
      <th><p class="links"> <%= link_to t('.contact_us'), contact_path %> </p></th>
    </tr>
  </table>
</header>
